#LLM & AI Agent Frameworks
langchain
langchain-community
langchain_openai
openai==1.14.1
llama-index 
langchain_openai
torch
TensorFlow
transformers


#Backend(API)
fastapi
unicorn
uvicorn

#Database
sqlalchemy==2.0.27
sqlite-utils==3.35


#Environment Variables
python-dotenv==1.0.1

# logging and debugging
loguru==0.7.2

#Task Scheduling (For Reminders)
apscheduler==3.10.4

#CLI Integration
typer==0.9.0

#Stremelit
streamlit==1.31.1
